.reset {
  outline: none;
  color: var(--fg);
  text-decoration: none;
  transition: color var(--transition);
}

.gray {
  color: var(--gray);
}

.gray:hover,
.gray:focus {
  color: var(--fg);
}

.underline {
  outline: none;
  color: var(--fg);
  text-decoration: none;
  transition: color var(--transition);

  text-decoration: underline;
  -webkit-text-decoration-color: var(--light-gray);
  text-decoration-color: var(--light-gray);
  text-decoration-thickness: 1px;
  text-underline-offset: 2.5px;
}

.underline:hover,
.underline:focus {
  color: var(--gray);
}
