.stack {
  display: flex;
  direction: column;
  justify-content: space-between;
}

.column {
  width: 250px;
  margin-right: var(--gap-three-quarters);
}

.section {
  font-size: 0.875rem;
  color: var(--gray);
}

.article {
  display: flex;
  align-items: center;
}

.arrow {
  margin: 0.25rem 0 0 0.25rem;
}

.link {
  font-size: 0.95rem;
  font-family: var(--font-sans);
  font-weight: 300;
}

.description {
  font-size: 0.9rem;
  font-family: var(--font-sans);
  color: var(--light-gray);
  margin-top: 0;
  line-height: 1.27rem;
}
