.container {
  max-width: var(--main-content);
  margin: 0 auto;
}

.yearAndHr {
  display: flex;
  align-items: center;
}

.year {
  font-size: 0.9rem;
  white-space: nowrap;
  color: var(--light-gray);
}

.yearHr {
  flex-grow: 1; /* Make the HR take all available space */
  margin-left: 10px; /* Add some space between the year and HR */
  border: none;
  border-top: 1px solid var(--lighter-gray); /* Add a border on top */
}
