.link {
  text-decoration: none;
  color: var(--fg);
  outline: none;
  align-items: center;
  display: flex;
  direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 0;
  width: 100%;
  border-bottom: 1px solid var(--hr);
  padding: var(--gap-half) 0;
  transition: color var(--transition);
}

.link:first-child {
  padding-top: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  word-break: break-word;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--gray);
  transition: color var(--transition);
}

.description,
.type {
  margin: 0;
  padding: 0;
  color: var(--light-gray);
  font-size: 0.95rem;
}

.type {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border: 1px solid var(--light-gray);
  width: fit-content;
  padding: 0 0.5rem 0.25rem 0.5rem;
  margin-top: 0.25rem;
  border-radius: var(--gap-quarter);
}

.arrow {
  display: none;
  margin-top: var(--gap-half);
}

.link:hover .arrow {
  display: block;
}

.link:hover .title {
  color: var(--fg);
}

@media (max-width: 600px) {
  .title {
    -webkit-line-clamp: 2;
    padding-left: 0;
    padding-right: var(--gap);
  }
}
