.section {
  border: 2px solid var(--lightest-gray);
  border-radius: var(--radius);
  cursor: pointer;
  margin-bottom: var(--gap);
}

.image {
  margin: 0;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
  height: calc(2.5 * var(--big-gap));
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  object-fit: cover;
  object-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: all var(--transition);
}

.text {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  background-color: var(--lightest-gray);
  padding: var(--gap) var(--gap) 0 var(--gap);
  transition: background-color var(--transition);
}

.title,
.description {
  margin: 0;
  line-height: normal;
}

.title {
  color: var(--fg);
  font-size: 1rem;
  margin-bottom: var(--gap-half);
}

.description {
  font-size: 0.95rem;
  color: var(--light-gray);
}

.tags {
  display: flex;
}

.tag {
  font-size: 0.85rem;
  margin-top: 0.8rem;
  margin-right: 0.5rem;
  color: var(--light-gray);
}

.section:hover .text {
  background-color: var(--lighter-gray);
}

.section:hover .image {
  opacity: 0.4;
}
