.heading {
  margin-top: 0;
}

.links {
  display: flex;
  align-items: center;
}

.link {
  color: var(--bg);
  margin-right: var(--gap-three-quarters);
  transition: filter var(--transition);
}

.link:hover {
  filter: invert(2);
}
