.navigation {
  margin: var(--big-gap) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.previous,
.next {
  font-weight: 400;
}

.next {
  text-align: right;
}

.title {
  font-weight: 300;
  font-size: 0.95em;
  line-height: 1.4;
  /* margin-bottom: var(--gap-half); */
  transition: color var(--transition);
}

.old,
.new {
  font-weight: 300;
}

.previous:hover,
.next:hover,
.title:hover,
.previous:focus,
.next:focus {
  color: var(--fg);
}
