.keyword {
  font-weight: bold;
  color: var(--keyword);
}

.token.operator,
.token.punctuation,
.token.string,
.token.number,
.token.builtin,
.token.variable {
  color: var(--token);
}

.token.comment {
  color: var(--comment);
}

.token.class-name,
.token.function,
.token.keyword.module,
.token.tag,
.token.attr-name {
  font-weight: bold;
  color: var(--name);
}

.token.maybe-class-name {
  color: var(--classname);
}
